@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import '../../styles/_variables.scss';
.branding-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $primary-color;
  .animation-container {
  color: $tertiary-color;
  font-size: 25px;
  font-family: 'Roboto';
  text-transform: uppercase;
  display: flex;

  align-items: center;
  justify-content: center;

  p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
  }

  
  .branding-animation {
    height: 40px;
    overflow: hidden;
    margin-left: 1rem;
  }
  
  .branding-animation>div>div {
    padding: 0.25rem 0.95rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
  }
  
  .branding-animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first-animation div {
    background-color: #20a7d81e;
  }
  
  .second-animation div {
    background-color: #20a7d81e;
    
  }
  
  .third-animation div {
    background-color: #20a7d81e;
    
  }
}
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 30px;
  }
  a{
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
    border: 2px solid $tertiary-color;
    color: $tertiary-color;
    text-decoration: none;
    border-radius: 5px;
  }
  a:hover{
    background-color: $tertiary-color;
    color: $secondary-color;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
}
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }

  10% {
    margin-top: 0;
  }

  20% {
    margin-top: -5.62rem;
  }

  30% {
    margin-top: -5.62rem;
  }

  40% {
    margin-top: -11.24rem;
  }

  60% {
    margin-top: -11.24rem;
  }

  70% {
    margin-top: -5.62rem;
  }

  80% {
    margin-top: -5.62rem;
  }

  90% {
    margin-top: 0;
  }

  100% {
    margin-top: 0;
  }
}