@import './variables.scss';

* {
    scroll-behavior: smooth;
}

body {
    background-color: $secondary-color;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
.section-title {
    font-size: 45px;
        margin-bottom: 50px;
        font-family: sans-serif;

}