.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //position: relative;
    text-align: center;
    height: 695px;
    background-image: url("../assets/images/backgroundmain.jpg");
}
.profil {
    display: flex;
    margin: 0px 200px 0px 200px;
    color: white;
    height: 100%;
    background-color: black;
}