@import '../styles/variables.scss';
.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //position: relative;
    text-align: center;
    height: 695px;
    background-image: url("../assets/images/backgroundmain.jpg");
}
.profil {
    display: flex;
    margin: 0px 200px 0px 200px;
    color: $primary-color;
    height: 100%;
    background-color: $secondary-color;
    @media screen and (max-width: 768px) {
        margin: 0px 0px 0px 0px;
        text-align: center;
        
    }
}
.status {
    display: flex;
    background-attachment: fixed;
    background-position: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../assets/images/background-with-blue-neon-lights.jpg");
}

.skillbar-container {
    width: 50%;
    margin: 20px auto;
  }
  .carousel {
    display: flex;
    background-attachment: fixed;
    background-position: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../assets/images/background-with-blue-neon-lights.jpg");
  }
  .porfolio {
    display: flex;
    
    
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;
    

    h3 {
      font-size: 50px;
      text-shadow: 0.1em 0.1em 0.3em $tertiary-color;
      margin-bottom: 40px;
    }
}
.portfolio-card {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: $primary-color;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      
    }
  }