.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //position: relative;
    
    height: 695px;
    background-image: url("../assets/images/backgroundmain.jpg");
}
.about-me {
    display: flex;
    width: 100%;
    height: 695px;
    background-color: black;
}