@import '../../styles/_variables.scss';
.profil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;

    h3 {
        font-size: 45px;
        margin-bottom: 50px;
    }
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    p {
        font-size: 25px;
        margin-bottom: 50px;
        padding: 20px;
    }
}

