@import '../../styles/_variables.scss';

.profil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;

    

    img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
    @media (max-width: 560px) {
        img {
            width: 150px;
            height: 150px;
            
        }
        
    }

    p {
        font-size: 25px;
        margin-bottom: 50px;
        padding: 20px;
        font-family: sans-serif;
    }
}