@import '../../styles/_variables.scss';
Header {
    position: fixed;
    
    display: flex;
    width: 100%;
    background-color: $secondary-color;
    box-shadow: 0px 9px 15px $tertiary-color;

        nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        

        ul {
            display: flex;
            gap: 30px;
            justify-content: space-between;

            li {
                list-style: none;
                a {
                    text-decoration: none;
                    font-family: fantasy;
                    font-size: 20px;
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }

}
    @media  (max-width: 768px) {
        header {
            background-color: $secondary-color;
            position: relative;
        }
        nav {
            
            flex-direction: column;
            
        }
        ul {
            flex-direction: column;
        }
    }