@import '../../styles/_variables.scss';
.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;
    margin-top: 50px;

    p {
        font-size: 50px;
        text-shadow: .1em .1em .3em $tertiary-color;
        margin: 0;
    }
    p:first-child {
        font-size: 35px;
        text-shadow: .1em .1em .3em $tertiary-color;
        margin: 0;
        margin-bottom: 20px;
        padding: 20px;
    }
    .fa-chevron {
        display: flex;
        justify-content: space-between;
        width: 95%;

        i {
            font-size: 40px;
            color: $primary-color;
            cursor: pointer;
            transition: color 0.5s ease-in-out;
        }

        i:hover {
            color: $tertiary-color;
        }
    }
    .bullets {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 50px;
    
        .bullet {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $secondary-color;
          margin: 0 5px;
          cursor: pointer;
          transition: background-color 0.3s;
    
          &.active {
            background-color: $primary-color;
          }
        }
      }
    
}