@import '../../styles/_variables.scss';

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;
    margin-top: 50px;

    p {
        font-family: sans-serif;
        font-size: 45px;
        margin: 0;
        align-items: center;
    }

    p:first-child {
        font-size: 35px;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    @media (max-width: 500px) {
        p {
            font-size: 28px;
            margin-bottom: 10px;

        }
        p:first-child {
            font-size: 25px;
            margin-bottom: 30px;

        }
        
    }

    .fa-chevron {
        display: flex;
        justify-content: space-between;
        width: 95%;

        i {
            font-size: 40px;
            color: $primary-color;
            cursor: pointer;
            transition: color 0.3s;
        }

        i:hover {
            color: $tertiary-color;
        }
    }
    @media (max-width: 500px) {
        .fa-chevron {
            display: none;

        }
        
    }

    .bullets {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 50px;

        .bullet {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $secondary-color;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &.active {
                background-color: $primary-color;
            }
        }
    }

}