@import '../../styles/_variables.scss';

.status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;

    

    p {
        font-size: 35px;
        font-family: sans-serif;
        margin-bottom: 40px;
        margin-top: 0;
        padding: 20px;
        text-align: center;
    }
}
@media (max-width: 560px) {
    .status-container {
        p {
            font-size: 25px;
            
        }
        
    }
}