@import '../../styles/_variables.scss';
.status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $primary-color;

    h3 {
        font-size: 50px;
        text-shadow: .1em .1em .3em $tertiary-color;
        margin-bottom: 30px;
    }
    p {
        font-size: 35px;
        text-shadow: .1em .1em .3em $tertiary-color;
        margin-bottom: 40px;
        padding: 20px;
    }
}